#
# Stack specific values
# (required)
#

#The 4 digits customer code
CUSTOMER_CODE=manh

# Cost Center with default value
COST_CENTER=10210

# The base domain name for the stack
BASE_DOMAIN=matsg.info

# The size of the stack ["xsmall","small","medium","large"]
STACK_SIZE=large

#Stack Version
STACK_VERSION=0.2.0-latest

# Whether Spot price is need or not
SPOT_PRICE_NEEDED=No

# Max spot bit price
SPOT_PRICE_MAX_BID=0.5

# RDS DB master user name
DB_USER_NAME=admin1234

#RDS DB master password
DB_PASSWORD=admin1234

#RDS DB port
DB_PORT=1521

#RDS DB Backup Retention Period
BACKUP_RETENTION_PERIOD_VALUE=0

#Delete EBS volume on termincation
DELETEEBSVOLUMEONINSTANCETERMINATION=true

#RDS storage Value Allocation size in GB
STORAGE_VALUE=100

#For Multi AZ Deployment, Pass true as value
MULTI_AZ_VALUE=true

#Availability Zone to Create RDS Instance.
RDSAVAILABILITYZONE=us-east-1c

# AWS Info
AWS_DEFAULT_REGION=us-east-1
AWS_KEY_PAIR_NAME=rjinkala_tsgaws_kp
